html, body{
    height: 100%;
}
body{
    margin: 0%;
    padding: 0%;
    font-family: 'Quicksand', sans-serif;
}
.header{
    height: 15%;
    width: 100%;
    padding: 25px;
    background-color: rgb(42, 165, 155);
    box-sizing: border-box;
}
header h1{
    text-align: center;
    margin: 0%;
}
.container{
    position: relative;
    height: 85%;
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    background-color: rgb(0, 139, 74);
}
.score-container{
    position: relative;
    margin: 0 auto;
    width: 150px;
    height: 40px;
    color: white;
}
#score{
    position: absolute;
    
    text-align: center;
    font-size: 30px;
    width: 100%;
}
.user{
    background-color: rgb(255, 166, 0);
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateX(-50%, -50%);
    width: 40px;
    height: 15px;
    font-size: 10px;
    padding: 2px 10px;
    box-sizing: border-box;
}
.com{
    background-color: rgb(255, 166, 0);
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translateX(50%, -50%);
    width: 40px;
    height: 15px;
    font-size: 10px;
    padding: 2px 10px;
    box-sizing: border-box;
}
.buttons{
    width: 280px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);

}
.bn{
    width: 80px;
    height: 80px;
    margin: 5px;
    border: 3px solid burlywood;
    border-radius: 50%;
    color: burlywood;
    font-size: 40px;
    background-color: azure;
    cursor: pointer;
    outline: none;
    transition: .35s;
}
.bn:hover{
    background-color: burlywood;
    border-color: white;
    color: white; /*maintains the color of bn when bg-color changes*/
}